body {
  font-family: "Audiowide", cursive;
  background-image: url("../images/rave3.jpg");
  /* background-image: url("../images/mac.jpg"); */
  background-size: cover;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Rubik Glitch", cursive;
  font-size: 60px;
  margin: 20px 0px 31px 0px;
  /* background-color: rgb(218, 238, 255); */
  padding: 10px 20px;
  /* border: 3px solid black; */
  border-radius: 10px;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.631),
    inset 20px 0 80px rgb(120, 255, 151), inset -20px 0 80px #b9fbff,
    inset 20px 0 180px #b9fbff, inset -20px 0 180px rgb(120, 255, 151),
    0 0 50px #fff, -10px 0 80px rgb(120, 255, 151), 10px 0 80px #b9fbff;
}

.orb1 {
  position: absolute;
  top: calc(62%);
  right: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(144, 0, 255),
    inset -20px 0 80px #0ff, inset 20px 0 180px rgb(144, 0, 255),
    inset -20px 0 180px #b9fbff, 0 0 50px #fff, -10px 0 80px rgb(144, 0, 255),
    10px 0 80px #b9fbff;
}

.orb2 {
  position: absolute;
  top: calc(25%);
  left: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(120, 255, 151),
    inset -20px 0 80px #b9fbff, inset 20px 0 180px #b9fbff,
    inset -20px 0 180px rgb(120, 255, 151), 0 0 50px #fff,
    -10px 0 80px rgb(120, 255, 151), 10px 0 80px #b9fbff;
}

.border-wrapper {
  /* display: flex; */
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 2em 0px var(--glow-color);
}

h5 {
  font-size: 32px;
  margin-bottom: 10px;
}

h6 {
  font-size: 18px;
}

li {
  list-style: none;
  font-size: 18px;
}

#introduction-wrapper {
  position: relative;
}

.grid-wrapper {
  margin-bottom: 0;
  background-color: #000000fa;
  border: 30px solid #4cf6ff20;
  border-radius: 10px;
  position: relative;
}

.introduction-overlay {
  position: absolute;
  padding: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: rgb(255, 0, 0) 2px 2px;
  background-image: linear-gradient(
    rgba(242, 0, 255, 0.5),
    rgba(242, 0, 255, 0.3)
  );
  height: 580px;
  width: 720px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px .5em 0px var(--glow-color);
}

#level-up-wrapper {
  position: relative;
}

.level-up-overlay {
  position: absolute;
  padding-top: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: rgb(255, 0, 0) 2px 2px;
  background-image: linear-gradient(
    rgba(242, 0, 255, 0.5),
    rgba(242, 0, 255, 0.3)
  );
  height: 580px;
  width: 720px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px .5em 0px var(--glow-color);
}

.restart-message {
margin-top: 200px;
}

#hidden-level-up {
  display: none;
}

#game-over-wrapper {
  position: relative;
}

.game-over-overlay {
  position: absolute;
  padding: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: rgb(255, 0, 0) 2px 2px;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.5),
    rgba(255, 140, 0, 0.3)
  );
  height: 580px;
  width: 720px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px 0.7em 0px var(--glow-color);
  box-shadow: inset 0px 0px 5em 0px var(--glow-color),
    0px 0px .5em 0px var(--glow-color);
}

#hidden-game-over {
  display: none;
}

.results {
margin-top: 160px;
}

.grid {
  border: 2px solid #4cf6ff20;
  border-radius: 20px;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  /* box-shadow: 0 0 20px 0 rgba(183, 183, 183, 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 580px;
  width: 720px;
}

.grid div {
  font-size: 10px;
  /* border: 1px solid rgb(0, 0, 0); */
  /* flex-grow: 1; */
  height: 5.28%;
  width: 4.35%;
}

.controls-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

:root {
  --glow-color: hsl(186 100% 69%);
}

.display-elements {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to right, #dfffe0, #B9FBFF); */
  padding: 0px 15px;
  margin-top: 23px;
  /* border: 2px solid black;
  border-radius: 5px; */
  width: 660px;
  height: 22px;
}

h3 {
  position: relative;
  color: var(--glow-color);
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.2em;
  margin: 20px 0px 10px 0px;

  -webkit-box-shadow: inset 0px 0px 1.5em 0px var(--glow-color),
    0px 0px 1em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.7em 0px var(--glow-color),
    0px 0px 1em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.7em 0px var(--glow-color),
    0px 0px 1em 0px var(--glow-color);
}

button {
  font-family: "Audiowide", cursive;
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 0.5em;
  font-weight: 800;
  letter-spacing: 0.2em;
  margin: 0px 8px 20px 8px;
  -webkit-box-shadow: inset 0px 0px 1em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 1em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 1em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  /* animation: border-flicker 2s linear infinite; */
  transition: all 0.05s linear;
}

button:active {
  transform: scale(102%) translateY(2px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

button:hover {
  transform: translateY(-2px);
}

.userCraft {
  background-color: white;
  /* border: 0px solid black; */
  border-radius: 50px;
  box-shadow: inset 0 0 20px #fff, inset 20px 0 20px rgb(120, 255, 151),
    inset -20px 0 20px rgb(120, 255, 151), inset 20px 0 40px rgb(120, 255, 151),
    inset -20px 0 4px rgb(120, 255, 151), 0 0 20px #fff,
    -10px 0 40px rgb(120, 255, 151), 10px 0 40px rgb(120, 255, 151);
  /* background-image: url("../images/turntable.jpg"); */
  /* background-size: cover; */
}

.enemyCraft {
  background-color: red;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px red,
    inset -20px 0 80px yellow, inset 20px 0 80px red,
    inset -20px 0 180px yellow, 0 0 50px #fff, -10px 0 80px red,
    10px 0 80px yellow;
  /* border: 1px solid black; */
  /* background-image: url("../images/alien_ship.jpg");
  background-size: contain; */
}

.specialEnemyCraft {
  border-radius: 50px;
  box-shadow: inset 0 0 20px #fff, inset 20px 0 20px rgb(0, 8, 255),
    inset -20px 0 20px blue, inset 20px 0 40px blue, inset -20px 0 4px blue,
    0 0 20px #fff, -10px 0 40px blue, 10px 0 40px blue;
}

.shield {
  /* background-color: greenyellow; */
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(144, 0, 255),
    inset -20px 0 80px #0ff, inset 20px 0 180px rgb(144, 0, 255),
    inset -20px 0 180px #b9fbff, 0 0 50px #fff, -10px 0 80px rgb(144, 0, 255),
    10px 0 80px #b9fbff;
  /* border: 1px solid black; */

  /* background-image: url("../images/speakers.jpeg");
  background-size: contain; */
}

.projectile {
  border-radius: 50px;
  box-shadow: inset 0 0 20px #fff, inset 20px 0 20px yellow,
    inset -20px 0 20px yellow, inset 20px 0 40px yellow,
    inset -20px 0 40px yellow, 0 0 20px #fff, -10px 0 40px yellow,
    10px 0 40px yellow;
}

.enemy-projectile {
  background-color: rgb(255, 0, 0);
  border-radius: 50px;
  box-shadow: inset 0 0 20px #fff, inset 20px 0 20px red, inset -20px 0 20px red,
    inset 20px 0 40px red, inset -20px 0 40px red, 0 0 20px #fff,
    -10px 0 40px red, 10px 0 40px red;

  /* background-image: url("../images/spr_missile.png");
  background-size: contain; */
}

.explosion {
  /* background-color: rgb(225, 0, 255); */
  background-image: url("../images/explosion2.png");
  background-size: contain;
  box-shadow: inset 0 0 20px rgb(255, 0, 0);
}

.restart-message .results .countdown .leaderboard {
  color: white;
}

@media (max-width: 1240px) {
  .orb1 {
    display: none;
  }
  .orb2 {
    display: none;
  }
}

@media only screen and (max-width: 500px){
  .grid{
  height: 300px;
  width: 300px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
