body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
}

.controls-wrapper {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.grid {
  align-items: center;
  background-color: black;
  box-shadow: 0 0 20px 0 rgba(183, 183, 183, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 700px;
}

.grid div {
  font-size: 10px;
  border: 1px solid rgb(0, 0, 0);
  /* flex-grow: 1; */
  height: 4.95%;
  width: 4.26%;
}

.userCraft {
  background-color: rgb(154, 154, 255);
}

.enemyCraft {
  background-color: rgb(255, 145, 145);
}

.shield {
  background-color: purple;
}

.projectile {
  background-color: rgb(255, 149, 0);
}

.enemy-projectile {
  background-color: rgb(255, 0, 0);
}

.explosion {
  background-color: rgb(225, 0, 255);
}